<div>
    <div class="header">
        <h1>Available Factories</h1>
    </div>

    <div v-if="loading" class="loading-text">Loading...</div>
    <div v-else>
        <h2>Predicate Factories ({{ predicates.length }})</h2>
        <table class="native-table">
            <thead>
                <tr>
                    <th>Name (Short Key)</th>
                    <th>Full Class Name</th>
                    <th>Arguments</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="factory in predicates" :key="factory.name">
                    <td><strong>{{ factory.name }}</strong></td>
                    <td>{{ factory.className }}</td>
                    <td>
                        <ul v-if="factory.args && factory.args.length > 0" style="margin: 0; padding-left: 20px;">
                            <li v-for="arg in factory.args" :key="arg.name">
                                {{ arg.name }} ({{ arg.type }})
                            </li>
                        </ul>
                        <span v-else>N/A</span>
                    </td>
                </tr>
            </tbody>
        </table>

        <h2 style="margin-top: 30px;">Filter Factories ({{ filters.length }})</h2>
        <table class="native-table">
            <thead>
                <tr>
                    <th>Name (Short Key)</th>
                    <th>Full Class Name</th>
                    <th>Arguments</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="factory in filters" :key="factory.name">
                    <td><strong>{{ factory.name }}</strong></td>
                    <td>{{ factory.className }}</td>
                    <td>
                        <ul v-if="factory.args && factory.args.length > 0" style="margin: 0; padding-left: 20px;">
                            <li v-for="arg in factory.args" :key="arg.name">
                                {{ arg.name }} ({{ arg.type }})
                            </li>
                        </ul>
                        <span v-else>N/A</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
